<div class="inner-div content">
	
	<h2> {{group.name }} </h2>
	<p><em>description</em><br>{{group.description}}</p>
	<ul><em>users</em>
		{% for user in group.users.all %}
		<li>{{user.username}}</li>
		{% endfor %}
	</ul>
	<p>Tasks:</p>
	{% for task in task_list %}
		<li><a href="/tasks/{{ task.pk }}/" class="ajax">{{ task.name }}</a></li>
	{% endfor %}
	<a href="/groups_new/" class="ajax">New group</a>
	<p>Comments:</p>
	{% for comment in comment_list %}
		<li><a href="/comment/{{ comment.pk }}/" class="ajax">{{ comment.comment }}</a></li>
	{% endfor %}
	<p>New comment: </p>
	<form role="form" class="form-horizontal" action="" method="post">
		{% csrf_token %}
		<div class="form-field">
			{{form.comment.errors}}
				<label for="id_comment">Comment:</label>
			{{form.comment}}
		</div>
		<input type="submit" value="Comment" />
	    <input type="hidden" name="next" value="{{ next|escape }}" />
	</form>
	{# NEED TO LIST THE TASKS RELATED #}
</div>
