<div class="inner-div content">
	<h2>Create a group</h2>
	<form role="form" class="form-horizontal" action="" method="post">
		
			{% csrf_token %}
			<div class="form-field">
				{{form.name.errors}}
				<label for="id_name">Name:</label>
				{{form.name}}
			</div>
			
			<div class="form-field">
				{{form.description.errors}}
				<label for="id_description">Description:</label>
				{{form.description}}
			</div>

			<div class="form-field">
				{{form.users.errors}}
				<label for="id_users">Users:</label>
				{{form.users}}
			</div>
		    <input type="submit" value="Create" />
		    <input type="hidden" name="next" value="{{ next|escape }}" />
		
 	</form>
</div>