
		<div class="inner-div content">
		{# IMPLEMENT THE LIST FOR GROUPS #}
		<ul>
		{% for group in group_list %}
			<li><a href="/groups/{{ group.pk }}" class="ajax">{{ group.name }}</a></li>
		{% endfor %}
		</ul>
		<a href="/groups_new/" class="ajax">New group</a>
		<script>
			$('.ajax').click(function(){
				$('.left-panel').load($(this).attr('href')+' .content');
				$('.active').removeClass('active');
				$(this).parent('li').addClass('active');
				history.pushState(null, null, $(this).attr('href'));
				return false;
			});

		</script>
		</div>
		
