{% extends 'base.html' %}

{% block pagetitle %}Home{% endblock %}

{% block navbar %}
	{% include "navbar.html" %}
{% endblock %}


	{% block left-panel %}
		<div class="inner-div content">
			<div class="cold-md-10 event">
				New comment on task '1'
			</div>
			<div class="cold-md-10 event">
				You marked 'Y' as done 
			</div>
			<div class="cold-md-10 event">
					New comment on task 'xz'
			</div>
			<div class="cold-md-10 event">
				Task 'xz' was created
			</div>
			<div class="cold-md-10 event">
				New contributors on 'Y'
			</div>
			<div class="cold-md-10 event">
				New comment on 'Y'
			</div>
			<div class="cold-md-10 event">
				New sub-objective for 'Y'
			</div>
			<div class="cold-md-10 event">
				Gavin, Mark and Steve joined group 'Z'
			</div>
			<div class="cold-md-10 event">
				You joined goup 'Z'
			</div>
		</div>
		{% endblock %}

