{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<style>
	.navbar-default .navbar-nav>li>a {color: white;}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {background-color: transparent;}
	.jumbotron {margin-bottom: 0px; padding: 0px;}
	.newEvent {background-color: #33F;}
</style>

<div class="container-fluid text-center" style="background-color: #eee;">
	<h4>TASK MANAGER 2014</h4>
</div>
<div class="navbar navbar-default" role="navigation" style="margin: 0px; background-color: #BBB;">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#groups">Groups</a></li>
				<li><a href="#tasks">Tasks</a></li>
				<li><a href="#profile">Profile</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#logout">Logout</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div> <!-- END TOP MENU -->
<div class="container-fluid jumbotron">
	<div class="row" style="height: 100%;">
		<!-- START LEFT PANEL -->
		<div class="col-md-6" style="border-right: solid 1px black; height: 100%;">
			<div class="cold-md-10 newEvent">
				New comment on task '1'
			</div>
			<div class="cold-md-10 newEvent">
				You marked 'Y' as done 
			</div>
			<div class="cold-md-10 newEvent">
				New comment on task 'xz'
			</div>
			<div class="cold-md-10 newEvent">
				Task 'xz' was created
			</div>
			<div class="cold-md-10 newEvent">
				New contributors on 'Y'
			</div>
			<div class="cold-md-10 newEvent">
				New comment on 'Y'
			</div>
			<div class="cold-md-10 newEvent">
				New sub-objective for 'Y'
			</div>
			<div class="cold-md-10 newEvent">
				Gavin, Mark and Steve joined group 'Z'
			</div>
			<div class="cold-md-10 newEvent">
				You joined goup 'Z'
			</div>
		</div>
	
		<!-- START RIGHT PANEL -->
		<div class="col-md-6" style="height: 100%;">
			
		</div>
	</div>
</div>
