{% extends 'base.html' %}

{% block head %}
	<style>
		.navbar-default .navbar-nav>li>a {color: white;}
		.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {background-color: transparent;}
	</style>
{% endblock %}

{% block container %}
<div class="container-fluid text-center" style="background-color: #eee;">
	<h4>TASK MANAGER 2014</h4>
</div>

<div class="container-fluid jumbotron homePage">
	<div class="row">
		<div class="col-md-4 col-md-offset-5 centered" class="divForm">
			<form role="form" class="form-horizontal">
				<div class="form-group">
					<label for="username" class="col-md-3 control-label">Username</label>
					<div class="col-md-6">
						<input type="text" class="form-control" id="username" placeholder="Username" name="username">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-3 control-label">Password</label>
					<div class="col-md-6">
						<input type="password" class="form-control" id="password" placeholder="Password" name="password">
					</div>
				</div>
				<div class="form-ggroup">
					<div class="col-md-4 small">
						<small>Not register?<br> <a href="#regiter">Register now!</a></small>
					</div>
					<button type="submit" class="btn btn-primary btn-sm">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}