	<div class="inner-div content">
	<h2>Create a task</h2>
	<form id="form-task" role="form" class="form-horizontal" action="" method="post">
		
			{% csrf_token %}
			<div class="form-field">
				{{form.name.errors}}
				<label for="id_name">Name:</label>
				{{form.name}}
			</div>
			<div class="form-field">
				{{form.users.errors}}
				<label for="id_users">Users:</label>
				{{form.users}}
			</div>
		

				<div class="form-field">
				{{form.description.errors}}
				<label for="id_description">Description:</label>
				{{form.description}}
			</div>

			<div class="form-field">
				{{form.deadline.errors}}
				<label for="id_deadline">Deadline:</label>
				<span>'2006-10-25' or '10/25/2006' or '10/25/06'</span>
				{{form.deadline}}
			</div>

			<div class="form-field">
				{{form.group.errors}}
				<label for="id_group">group:</label>
				{{form.group}}
			</div>

			<div class="form-field">
				{{form.priority.errors}}
				<label for="id_priority">priority:</label>
				{{form.priority}}
			</div>

			<div class="form-field">
				{{form.workload.errors}}
				<label for="id_workload">workload:</label>
				{{form.workload}}
			</div>

		    <input type="submit" value="Create" />
		    <input type="hidden" name="next" value="{{ next|escape }}" />
		
 	</form>
</div>