<div class="inner-div content">
	
	<h2> Task: {{task.name }} 
	{% if task.group %}<small>In group: <a href="/groups/{{ task.group.pk }}/" class="ajax">{{task.group}}</a> </small> {% endif %}
	</h2>
	<div class="section">
	<span>
			Deadline: {{task.deadline}} 
			{% if task.priority %}, Priority: {{task.priority}}{% endif %}
			{% if task.workload %}, Workload: {{task.workload}}{% endif %}  
	</span>
	<p class="description">{{task.description}}</p>
	
	<small>Participants:
		{% for user in task.users.all %}
			<a href="/profile/{{ user.pk }}/" class="ajax">{{user.username}}</a>&nbsp;
		{% endfor %}
	</small>
	</div>
	<h3><small>Comments</small></h3>
	<div class="section">
		<form role="form" class="form-horizontal" action="" method="post">
			{% csrf_token %}
			<div class="form-field">
				{{form.comment.errors}}
					
				{{form.comment}}
			</div>
			<input type="submit" value="Add Comment" />
		    <input type="hidden" name="next" value="{{ next|escape }}" />
		</form>

		{% for comment in comment_list %}
			<div class="cold-md-12 event">
				
				<p class="comment">{{ comment.comment }}</p>
				{# <a href="/comment/{{ comment.pk }}/" class="ajax">{{ comment.comment }}</a> #}
				<span>
				Posted by: {{comment.user.username}}, {{comment.created}} 
				{% if comment.edited < comment.created %}, edited: {{comment.edited}} {% endif %}
				</span>
			</div>
		{% endfor %}
	</div>
</div>