<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin: 0px; background-color: #BBB;">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/" class="ajax">Home</a></li>
				<li><a href="/groups/" class="ajax">Groups</a></li>
				<li><a href="/tasks/" class="ajax">Tasks</a></li>
				<li><a href="/profile/" class="ajax">Profile</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" class="ajax"><span class="username">{{user.first_name}} {{user.last_name}}</span></a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div> <!-- END TOP MENU -->
