<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin: 0px; background-color: #BBB;">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/groups/">Groups</a></li>
				<li><a href="/tasks/">Tasks</a></li>
				<li><a href="/profile/">Profile</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="username">{{user.username}}</span></a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div> <!-- END TOP MENU -->