Django==1.6.2
django-bootstrap-toolkit==2.15.0
django-bootstrap3==3.1.0
gunicorn==18.0
oauthlib==0.6.1
python-openid==2.2.5
python-social-auth==0.1.22
requests==2.2.1
requests-oauthlib==0.4.0
six==1.5.2
stevedore==0.13
virtualenv==1.11
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
