*, *:before, *:after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {padding, margin:0;height:100%;}
.row{height: 100%;}
.homePage {position: fixed;
   top: 50px;
   left: 0;
   bottom: 0;
   right: 0;
}
.row {margin: 0px;}

.nopadding {padding: 0px!important;}
.nomargin {margin: 0px !important;}
.noboth {padding: 0px !important; margin: 0px !important;}

.navbar-default .navbar-nav>li>a {color: white;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {background-color: transparent;}
.jumbotron {margin-bottom: 0px; padding: 0px;}
.left-panel, .right-panel {border-right: solid 1px #333; padding: 52px 0px 0px 0px; height:100%;overflow: auto;}
.left-panel {border-left: solid 1px #333;}
.custom-panel {height: 50%;}
.outer-div {padding: 0px; margin: 0px;}
.inner-div {padding: 10px 20px 0px 20px;}

.prioMsg {margin-bottom: 10px; padding: 8px 5px;}
.msgNormal {border: solid 1px green;}
.msgLow {border: solid 1px yellow;}
.msgHigh {border: solid 1px red;}


input[type='submit']{
	margin: 0.5em 0;
	width: 20%;
	float:right;
	padding: 0;
}
form:after{
	content:"";
	display: table;
	clear: both; 
}
.btn-default{
	width:100%;
	padding:0.4em 0;
	font-size: 150%;
	color:#333;
	background-color: #BBB;
	border: 1px solid #333;
	margin-bottom: 0.5em;
	letter-spacing: 1px;
}
.btn-default:hover{
	background-color: #CCCCCC;
	border: 1px solid #333;
}
.event {
	background-color: #96D7FF; 
	margin-bottom: 10px; 
	color: white; 
	border: 1px solid #333;
	padding: 1em ;
}
.event:after {
	content: "";
	display: table;
	clear: both;
}
.event h4{
	letter-spacing: 1px;
	font-size: 160%;
	color:#333;
	font-weight: 700;
	background-color: #7ACCFF;
	line-height: 1.5;
}
.event span{
	clear:both;
	font-weight: 100;
	font-style: italic;
	font-size: 90%;
	letter-spacing: -0.4px;
	
}
.event p{
	padding-bottom: 1em;
	margin-bottom: 0;
	color: #333;
	font-size: 120%;
	border-bottom: 1px solid #A8A8A8;
}
.event .fadez{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.event .read-more{
	float:left;
	color:#A8A8A8;
}
.event .comment-nr{
	font-size: 100%;
	float:right;
	margin-bottom: 0;
	color:#A8A8A8;
	border-bottom: 0;
}
.description{
	font-size:40px;
	padding: 1em;
	width:100%;
	border: 1px solid #333;
	margin-bottom: 0;
	margin:1em 0;
}
.content span:after{
	
}
#id_comment{
	width:100%;
	max-width: 100%;
	height:5em;
}
.section{
	border:1px solid #333;
	background-color: #E6E6E6;
	padding: 1em;
	
}

/* Full Calendar extension CSS */
.box_event_outer{position: absolute; top: -42px; background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-32.png'); background-repeat: no-repeat; background-size: 21px; background-position: -3px 26px; height: 41px; z-index: 100;}
.box_event_inner{width: 100%; height: 34px; background-color: lightgray;border: 1px solid black;padding: 5px 4px;}
