/* base.html */
html, body, .container, .jumbotron, .row {height: 100%;}

.row {margin: 0px;}

.navbar-default .navbar-nav>li>a {color: white;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {background-color: transparent;}
.jumbotron {margin-bottom: 0px; padding: 0px; margin-top: -40px;}
.newEvent {background-color: #72C7FC; margin-bottom: 10px; padding: 8px 5px; color: white; border: solid 1px gray; }
.left-panel, .right-panel {border-right: solid 1px black; padding: 52px 0px 0px 0px; height: 100%;}
.left-panel {border-left: solid 1px black;}
.custom-panel {height: 50%;}
.outer-div {}
.inner-div {padding: 10px 20px 0px 20px;}
